@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");
:root {
  /* colors  */
  --primary-main: #043873;
  --background-main: rgb(244, 247, 255);
  --secondary-color: rgb(191 219 254);
  --primary-medium: rgb(19, 16, 73);
  --text-slate-800: rgb(30 41 59);
  --text-slate-600: rgb(71 85 105);
  /* ------------------------------- */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --fixed-width: 620px;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: auto;
}

body {
  background-color: var(--background-main);
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  cursor: default;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

header {
  min-height: 100vh;
  height: 100%;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
button {
  background-color: transparent;
  border: none;
}

@keyframes rotateFull {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.animation-rotate {
  animation: rotateFull 1s ease-in-out 0.1s;
}

.primary-text-color {
  color: var(--primary-main);
}

.secondary-background-color {
  background-color: var(--background-secondary);
  color: white;
}

.secondary-background-dark {
  color: var(--secondary-color);
  background-color: var(--primary-main);
}

.custom-button {
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  color: white;
  background-color: rgb(10, 12, 46);
}
.custom-button:hover {
  opacity: 0.9;
}

.user-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--primary-medium);
}

.logo {
  max-height: 1.7rem;
}

.background-canvas {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.sidebar {
  left: -100%;
}

.sidebar2 {
  right: -100%;
}

.sidebar-open {
  left: 0;
  top: 0;
}

.sidebar2-open {
  right: 0;
  top: 0;
}

.navigation-link {
  font-size: 1.2rem;
  color: var(--primary-medium);
  transition: var(--transition);
}
.navigation-link:hover {
  color: var(--primary-main);
  box-shadow: var(--light-shadow);
}

.fa-times-btn {
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.fa-times-btn2 {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
}

aside {
  top: -1px;
  transition: var(--transition);
  max-width: 25rem;
  min-height: 43.75rem;
}
aside ul {
  padding-left: 10vw;
  padding-top: 6rem;
  gap: 3rem;
}

.sky-background {
  opacity: 0.15;
}

.home-content {
  min-height: 31.25rem;
  height: 85%;
}

table {
  min-width: 30rem;
}

td,
th {
  padding: 1rem !important;
}

.instance-table-edit {
  min-width: 50rem !important;
}

.input-container label {
  min-width: 7rem;
}
.input-container input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid var(--primary-medium);
  background-color: transparent;
  outline: none;
  min-width: 10rem;
}
.input-container select {
  width: 10rem;
}/*# sourceMappingURL=index.css.map */